* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    color: #333;
    font-family: "Kurale", serif;
    font-size: 0.94em;
    line-height: 135%;
    margin: 0 auto;
}

.text-svg {
    color: #d9d9d9;
}

.w-5 {
    width: 1.25rem /* 20px */;
}

.gap-2 {
    gap: 0.5rem /* 8px */;
}

.h-5 {
    height: 1.25rem /* 20px */;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    line-height: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #963c3c;
    text-decoration: none;
}

.container {
    margin: 30px auto;
    width: 84%;
    max-width: 1920px;
    align-content: center;
}

/* -------------------------------
    Структура
    ----------------------------------*/

/* -------------------------------
    Ширина сайта в 1000px
    ----------------------------------*/

/* -------------------------------
    Шапка сайта
    ----------------------------------*/

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.link-nav {
    margin-right: 30px;
    font-size: 20px;
    color: black;
}

.o_nas {
    border: none;
    border-radius: 15px;
    background-color: rgb(254, 65, 17);
    color: white;
    font-size: 18px;
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.o_nas:hover {
    background-color: rgb(133, 35, 10);
}

.blok_img {
    width: 90%;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

html {
    scroll-behavior: smooth;
}

::placeholder {
    font-size: 14px;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.blok {
    min-width: 180px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.logotip_sushi {
    height: 90px;
    width: 180px;
}

.header-icons {
    width: 32px;
    height: 32px;
    margin: 0 5px;
}

.water {
    margin: 0 5px;
}

input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
}

.er-1 {
    flex-direction: column;
    justify-content: center;
}

.er-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.er-3 {
    flex-grow: 2;
}

.blue {
    color: rgb(00, 163, 136);
}

.search {
    border: 1px solid rgb(78, 78, 78);
    border-radius: 15px;
    width: 100%;
}

#search-but {
    margin-left: 110px;
    height: 100px;
}

.lupka {
    width: 35px;
    height: 35px;
    color: #ffffff;
}

.lupka:hover {
    background-color: rgb(133, 35, 10);
}

/* -------------------------------
    Главный контент
    ----------------------------------*/

.main {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 100%;
}

.reklama {
    margin: 40px auto;
    width: 94%;
    height: 100%;
}

.banner {
    margin: 0 auto;
    display: flex;
    width: 100%;
}

.zag {
    margin: 10px;
}

.items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1920px;
}

.item {
    margin: 20px 10px;
    background-color: white;
    flex-direction: column;
    width: 370px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.i-blok {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
}

.ir-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 30px;
}

.plus {
    background-color: rgb(254, 65, 17);
    padding: 11px;
    border: none;
    border-radius: 12px;
}

.plus:hover {
    background-color: rgb(133, 35, 10);
}

.ir-2 {
    width: 100%;
    margin: 2px;
    display: block;
    text-align: center;
}

.ir-3 {
    width: 90%;
    margin: 10px 20px 15px;
    justify-content: space-between;
}

.ir-4 {
    width: 90%;
    margin: 5px 30px;
}

.f-24 {
    font-size: 24px;
}

.f-32 {
    font-size: 32px;
}

.f70-14 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

/* -------------------------------
    Футер сайта
    ----------------------------------*/

.footer_blok {
    margin: 0 auto;
    max-width: 1850px;
    align-content: center;
    width: 84%;
}

.footer {
    width: 100%;
    height: 100%;
    background-color: rgb(00, 163, 136);
    color: white;
}

.slotik {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1850px;
}

.column {
    margin: 20px 10px;
    flex-direction: column;
    display: flex;
}

.fr-1 {
    align-self: flex-start;
}

.fr-2 {
    align-self: flex-start;
}

.fr-3 {
    align-self: flex-start;
}

.dis {
    margin: 10px auto;
    display: block;
    text-align: center;
}

.dis-1 {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.dis-2 {
    margin: 10px auto 0;
    display: block;
    text-align: center;
}

.dis-4 {
    margin: 30px auto 0;
    display: block;
    text-align: center;
}

.dis-3 {
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.back {
    background-color: white;
    padding: 5px;
}
